nav.navbar.navbar-default {
  margin-bottom: 0;
}

#logo{
  height: 5vh;
}

#w-100{
  min-width: 100%!important;
}

.profilepic{
  max-width: 50px;
  max-height: 50px;
}

.userBar, .profileBar{
 
 display: flex;
 flex-direction: row;
 justify-content:space-between;
 width: 100%;
}


.navbar{
  flex-direction: column;
}